<div class="container mt-5">
  <table class="table table-bordered border">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Code</th>
        <th scope="col">Release Date</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Star Rating</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.productId }}</th>
        <td>
          <img
            src="{{ product.imageUrl }}"
            alt="{{ product.productName }}"
            style="width: 50px; height: 50px"
          />
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productCode }}</td>
        <td>{{ product.releaseDate }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.starRating }}</td>
      </tr>
    </tbody>
  </table>
</div>
